events {
  worker_connections  1024;  ## Default: 1024
}

http {
	server {
		listen 80;

		auth_basic "IOTA Peermanager Panel";
    auth_basic_user_file conf/.htpasswd;

		location / {
				proxy_pass http://{{ ipm_host }}:{{ ipm_port }};
			  proxy_http_version 1.1;
			  proxy_set_header Host $host;
			  proxy_set_header Upgrade $http_upgrade;
			  proxy_set_header Connection 'upgrade';
			  proxy_cache_bypass $http_upgrade;
		}
	}
}
