[nelson]
cycleInterval = 60
epochInterval = 300
apiPort = {{ nelson_api_port }}
apiHostname = {{ nelson_host }}
port = {{ nelson_tcp_port }}
IRIHostname = {{ iota_host }}
IRIPort = {{ iri_api_port }}
TCPPort = {{ iri_tcp_port }}
UDPPort = {{ iri_udp_port }}
dataPath = data/neighbors.db
isMaster = true
silent = false
gui = false
; use automatic service to download latest initial nodes
getNeighbors = https://raw.githubusercontent.com/SemkoDev/nelson.cli/master/ENTRYNODES
